<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>{% block title %}Document{% endblock %}</title>
</head>
<body>
    <nav class="nav">
        <ul class="nav-left">
            <li><a href="/">Home</a></li>
            <li><a href="/lessons">Lessons</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <ul class="nav-right">
            {% if session.get("uname") == "None" or session.get("uname") == None %}
                <li><a href="/signup">Create Account</a></li>
                <li><a href="/login">Login</a></li>
            {% endif %}

            {% if session.get("uname") != "None" and session.get("uname") != None %}
                <li><a href="/community">Community</a></li>
                <li><a href="#">{{session.get("uname")}}</a></li>
                <li><a href="/signout">Sign Out</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>