{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
    <div class="lessoncontainer">
        <h1 class="vidless">Community</h1>
        <a href="/communityupload">New Post?</a>
        <div class="posts">
            {% for post in posts %}
            <div class="communitypost">
                <h3>{{post[0]}}</h3>
                <p>{{post[1]}}</p>
                <textarea>Comment</textarea>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>
{% endblock %}