{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
    <div class="title"><h1>Al-Bayan <br> Academy</h1></div>

    <br>
    <video src="/static/videos/ad.mp4" class="vidad" controls></video>

    <div class="ad">
        <h2>🌟 Learn Arabic for Islam - From Zero to Fluency 🌟</h2>
        <h4>Your gateway to understanding the Qur'an, ḥadīth, and Islamic knowledge.</h4>
        <p>At our Academy, we believe that Arabic is not just a language—it <b>is the key to the treasures of<br>
            Islam.</b>Whether you are starting from scratch or already have some background, our structured<br>
            program will take you step by step until you gain fluency and confidence.</p>
        
        <br>
        <h2>🚀 Why Learn with Us?</h2>
        <ul>
            <li>From Zero to Mastery: A complete curriculum designed to take beginners to fluency.</li>
            <li>Flexible Entry: Already know some Arabic? Take our placement test and start at your
                right level.</li>
            <li>Qur'an-Centered Learning: We introduce essential Islamic terms and vocabulary early,
                so you quickly understand the Qur'an and ḥadīth.</li>
            <li>Practical and Interactive: Live classes, practice exercises, and guided conversations to
                help you think and speak in Arabic.</li>
            <li>For Faith and Knowledge: Perfect for anyone seeking to study tafsīr, ḥadīth, fiqh, and
                Islamic sciences directly from Arabic sources.</li>
        </ul>

        <br>
        <h2>📓 What You'll Gain</h2>
        <p>✅    Ability to read and understand Qur'anic verses with clarity<br>
            ✅    Mastery of key Islamic vocabulary and expressions<br>
            ✅    Strong grammar foundation for advanced studies<br>
            ✅    Confidence in speaking, reading, and writing Arabic<br>
            ✅    A pathway to access classical Islamic knowledge without translation</p>
        
        <br>
        <h2>📱 Who can Join?</h2>
        <ul>
            <li>Absolute beginners (starting from zero)</li>
            <li>Students with some Arabic background (placement exam available)</li>
            <li>Seekers of Islamic knowledge</li>
            <li>Parents, professionals, and youth eager to connect with the language of revelation</li>
    </div>
{% endblock %}