{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
    <h1>LESSONS</h1>

    <div class="lessoncontainer">
        <h2 class="vidless">Video Lessons</h2>
        <div class="lessons">
            {% for lesson in lessons %}
                <div class="vidlesson">
                    <h3>{{lesson[0]}}</h3>
                    <video src="static/videos/{{lesson[1]}}" width="300" controls></video>
                </div>
            {% endfor %}
        </div>
    </div>

    <h2>TEXT LESSONS</h2>
    {% for lesson in textlessons %}
        <div class="textlesson">
            <h3>{{lesson[0]}}</h3>
            <p>{{lesson[1]}}</p>
        </div>
    {% endfor %}
    <br>
    <a href="/lessonupload">Upload A Lesson</a>
{% endblock %}