{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
    <div class="lessoncontainer">
        <h1 class="vidless">Video Lessons</h1>
        <div class="lessons">
            {% if session.get("uname") == "None" or session.get("uname") == None %}
                <h1 class="vidless">Sign in to access lessons!</h1>
            {% else %}
                {% for lesson in lessons %}
                <div class="vidlesson">
                    <h3>{{lesson[0]}}</h3>
                    <video src="static/videos/{{lesson[1]}}" width="300" controls></video>
                    <br>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdcTOPpvTgxg5KPEOdYYTXFfk6atBIhRw2SFpK-R8EqnFTi5A/viewform?usp=header">Quiz</a>
                </div>
                {% endfor %}
            {% endif %}
        </div>
        <a href="/f">Want Online Lessons?</a>
    </div>

    <!--
    <h2>TEXT LESSONS</h2>
    {% for lesson in textlessons %}
        <div class="textlesson">
            <h3>{{lesson[0]}}</h3>
            <p>{{lesson[1]}}</p>
        </div>
    {% endfor %}
    <br>-->
    
    {% if session.get("uname") == "ADMIN" %}
    <br>
        <a href="/lessonupload">New Lesson [ADMIN ONLY]</a>
    {% endif %}
{% endblock %}